body {
	font-family: "Calibri", Calibri, serif;
}
code {
	border-radius: 5px;
	padding: 3px 6px 3px 6px;
	background-color: #D3D3D3;
}
table, td, tr, th {
	padding: 3px;
	border: solid;
	border-color:black;
}
.codeblock {
	border-radius: 5px;
	padding: 3px 6px 3px 6px;
	background-color: #D3D3D3;	
}